@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;

  font-size: 100%;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;;

  color: #000000;
  background-color: #ffffff;
}

header {
  min-width: 1140px;
  background-color: #62aeb2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  padding: 20px 50px;
  margin: 0 auto;
}

main {
  min-width: 1140px;
  background-color: #f1f1f1;
}

.post {
  width: 1140px;
  padding: 20px 70px;
  margin: 0 auto;
}

.post h2 {
  font-size: 32px;
  line-height: 1.5em;
  margin: 2em 0 1.5em;
}

.post h3 {
  font-size: 24px;
  line-height: 1.5em;
  margin: 2em 0 1.5em;
}

.post p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.7em;
}

.post li {
  margin-bottom: 0.5em;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

.post code,
.post pre {
  padding: 0 0.4em;
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  background-color: #d6d6d6;
  border: 1px solid #c6c6c6;
  font-size: 18px;
  line-height: 1.4em;
  border-radius: 3px;
}

.post figure {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logotipes {
  min-width: 1140px;
  background-color: #ffffff;
}

.logotipes__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  padding: 50px 70px;
  margin: 0 auto;
}

.logotipes img {
  width: 25%;
  height: auto;
}

footer {
  min-width: 1140px;
  background-color: #7dacb0;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1140px;
  padding: 30px 70px;
  margin: 0 auto;
  color: #ffffff;
}

.footer__container a {
  color: #ffffff;
}

.footer__container a:hover,
.footer__container a:active {
  color: #ca7031;
}
